div.page-matchmaking{
	gap: 0.5em;
}

span.gametitle{
	font-style: italic;
	color: var(--sublime-white);
}

div.ui-bubble a.matchmaking{
	font-size: 0.8em;
	color: var(--sublime-white);
	text-decoration: underline;
	word-break: break-all;
}

div.ui-bubble[class*="matchmaking-options-"]{
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 75%
}

div.matchmaking-options{
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	color: var(--sublime-yellow);
	gap: 2em;
	
	padding-top: 1em;
	justify-content: center;
	align-items: baseline;
}

div.matchmaking-option{
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 0.5em;

	padding: 0.5em;
}

div.matchmaking-qrcode > svg{
	border-radius: 1em;
}

form.matchmaking-input-form {
	display: flex;
	flex-direction: column;
}

input[type="text"]{
  background-color: var(--sublime-white);
  color: var(--sublime-gray);
  border-radius: 2em;
  border: solid 0.1em var(--sublime-dark); 
  box-sizing: border-box;
  outline: none;

  margin: 0.8em;

  font-size: 1.2em;
  text-align: center;
}

input[type="text"]:focus-visible{
  background-color: var(--sublime-white);
  border: solid 0.3em var(--sublime-dark); 
  border-color: var(--sublime-very-dark);
  margin: 0.6em;
}


button[type=submit]{
  background-color: var(--sublime-yellow);
  border: solid 0.3em var(--sublime-dark); 
  border-radius: 2em;
  color: var(--sublime-gray);
  /*margin: 0.6em;*/

  cursor:pointer;

  font-family: 'Courier New';
  font-size: 1.2em;
}

button[type=submit]:disabled,
button[type=submit][disabled]{
	display: none;
}

@media only screen and (max-device-width: 480px){

	div.page-matchmaking {
		height: fit-content;
		min-height: 100%;
		padding: 0;
	}

	div.matchmaking{
		font-size: 1em;
		width: 80%;
	}

	div.matchmaking-options{
		flex-direction: column;
		gap: 1em;
	}

	div.matchmaking-option{
		width: unset;
	}

}
