div.page-home {
	flex-direction: row;
	gap: 0;
}

div.iframe-container {
	width: 80%;
}

div.iframe-container iframe{
	width: 100%;
	height: 100%;
	border: none;
}

div.game-menu {
	width: 20%;
}

@media only screen and (max-device-width: 480px){
	div.page-home {
		flex-direction: column-reverse;
	}

	div.iframe-container {
		width: 100%;
		height: fit-content;
	}

	div.game-menu {
		display:none;
	}
}