div.page-howtoplay{
	height: fit-content;
}

div.page-howtoplay div.ui-bubble{
	margin: 3em auto;

	max-width: 90%;
}

@media only screen and (max-device-width: 480px){
	div.page-howtoplay .ui-bubble{
		width: 80%;
	}
}