body {
	overflow: hidden;

}

div.page-tutorial{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;

	gap: 2em;

	height: 100%;
	width: 100%;

	box-shadow:inset 0px 0px 10px 6px var(--sublime-gray);
	background-color: var(--sublime-white);

	padding: 3em;

	gap: 0;
}

div.tutorial-container-text {
	padding-top: 20%;
	padding-bottom: 20%;

	display: flex;
	flex-direction: column;
	flex-grow: 5;
	gap: 16em 0;
	margin: 0;

	overflow-y: scroll;
}

div.ui-bubble {
	width: fit-content;
}

div.ui-bubble[id^="section-"] {
	background: var(--sublime-very-dark);
}

div.tutorial-container-interactive-wrapper {

	margin: 0;

	width: 480px;
	min-width: 480px;
	min-height: 100%;
	height: 100%;
	flex-grow: 1;

	/*position: fixed;*/
  	z-index: 1;
	/*parallax*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

div.tutorial-container-interactive{
	padding: 1em;

	position:fixed;
	top: 0;
  	height: 96%;
  	width: 480px;
  	max-width: 480px;

	box-shadow:inset 0px 0px 10px 6px var(--sublime-gray);

	display: flex;
	flex-direction: column;
	justify-content: center;

}

div.tutorial-container-interactive-center{
	margin: auto;
	display: flex;
	justify-content: center;
}

img.tutorial-container-interactive-robot {
	width: 30%;
	margin: auto;
	/*height: 30%;*/
}
