
.card-inner {
  width: 100%;
  height: fit-content;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


/*
Use the Sublime text monokai colors:
https://github.com/gerardroche/sublime-monokai-free?tab=readme-ov-file#customizations
*/
.card {
  font-family: 'courier new' !important;
  height: calc(calc(81/56)*var(--card-width));
  width: var(--card-width);
  border-radius: 6%;
  padding: 0;
}
.print-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-back {
  border: 0.2em solid var(--sublime-dark);
}
.card-front {
  background: var(--sublime-gray);
  color: var(--sublime-white);
  height: 100%;
  width: 100%;
  padding: 12%;
  display: flex;
}
.card-action {
  color: var(--sublime-blue);
}
.card-action h2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*font-size: 280%;*/
  margin-top: 0px !important;
  margin-bottom: auto;
}
span.card-value-action {
  text-align: center;
}
.card-action-parenthesis {
  color: var(--sublime-red);
}
span.card-action-semicolon {
  margin-top: auto;
  color: var(--sublime-white);
}
.card-direction {
  color: var(--sublime-orange);
  margin-bottom: auto;
  /*font-size: 180%;*/
}
.card .print-area .card-type {
  position: absolute;
  top: 82%;
  left: 14%;
  color: var(--sublime-yellow);
  text-align: center;
  font-size: 100%;
  margin-top: auto;
}
.card-back {
  background-color: var(--sublime-very-dark);
  color: var(--sublime-yellow);
  height: 100%;
  width: 100%;
}
p.card-back-text {
  font-size: 220%;
  position: absolute;
  top: 14%;
  left: 14%;
  transform: rotate(-42deg);
}

@media only screen and (max-device-width: 480px){

    :root{
        /*--card-width: 4em;*/
        /*--card-height: calc(calc(81/56)*var(--card-width));*/
    }

    span.card-value-action{
        /*font-size: 4vw;*/
    }

    span.card-value-direction{
        /*font-size: 3.8vw;*/
    }

}