div.hand {
    display: flex;
    flex-direction: row;
    /*flex-flow: wrap;*/

    width: 76%;
	/*row-gap: 0.5em;*/
    column-gap: 1em;

    justify-content: flex-start;
    align-items: center;

    padding: 0.5vw; /* Avoid creating a scrollbard */
    overflow: hidden;
}

@media only screen and (max-device-width: 480px){

    div.hand {
        flex-flow: wrap;        
        justify-content: center;
        align-items: unset;
        column-gap: 0.4em;
        row-gap: 1%;
        height: 86%;
        width: 100%;

        margin: auto auto;
        padding: 0;
    }

}