#board {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 0.2em 0.2em;
    margin-top: 0.5em;
}

.cell {
    width: 6vw;
    height: 6vw;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.parcel {
    background-color: yellow;
}

.goal {
    background-color: green;
}

.player {
    background-color: blue;
    color: white;
    font-weight: bold;
}
