
#turn-strategies {
    display: flex;
    flex: 0 0 auto;          /* Keep this at its natural size */
    margin-left: 10px;       /* Add space between board and turn-strategies */
    flex-direction: column;

    /*width: 100%;*/
}

[id^="turn-strategy-"] {
    display: flex;            /* Use flexbox */
    flex-direction: row;      /* Stack items vertically */
    flex-flow: no-wrap;
    gap: 0.2em;
	/*max-width: 80%*/
	margin-top: 1em;
    justify-content: left;
}

[id^="turn-strategy-card-"] {
	max-height: 5%
}

