.board {
  display: flex;
  flex-direction: column;
  height: 90%;
  min-width: 28em;

  aspect-ratio: 1 / 1;

  gap: 0.2em;
  margin: auto 0;
}

.board-row {
  display: flex;
  gap: 0.2em;
  height: 20%;
}

.board-cell {
  min-width: 40px; /* adjust as needed */
  min-height: 40px; /* adjust as needed */

  width:20%;
  height:100%;

  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* =========================== */

.objective {
    /*box-shadow:inset 0px 0px 0px 10px #000000;*/
    background-color: #43443b;
    color: #F5F5DC;
}

.parcel {
    box-shadow:inset 0px 0px 10px 6px #FF5722;
}

.goal {
    box-shadow:inset 0px 0px 10px 8px #39FF14;
}

.player {
    /*background-color: blue;*/
    box-shadow:inset 0px 0px 1px 1px #43443b;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0);

    /*background-image: url("../../assets/img/robot.png");*/
    background-size: 4vw;
    background-position: center;
    background-repeat: no-repeat;
}

.player-1 {
    background-color: #7D7F7D;
}

.player-2 {
    background-color: #3D7E9A;
}

.player-3 {
    background-color: #FFC107;
}

.player-4 {
    background-color: #A52A2A;
}

.player-5 {
    background-color: #2ECC71;
}

.player-6 {
    background-color: #9B59B6;
}


@media only screen and (max-device-width: 480px){

  div.board {
    width: 66%;
    min-width: 18em;
    height: 55%;

    margin: auto auto;

  }
}